@CHARSET "UTF-8";

/* $Id: style.css,v 1.2 2007/01/09 22:11:33 marco Exp $ */
BODY,P,UL,TD,INPUT,SELECT,TEXTAREA,LABEL {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;;
	font-size: 10px;
	background-color: white;
	color: black;
}

LABEL {
	vertical-align: top;
}

INPUT.button {
	width: 100%;
}

H1 {
	font-size: 16px;
	text-align: center;
}

H2 {
	font-size: 14px;
}

H3 {
	font-size: 12px;
}

TABLE.mainTable {
	width: 100%;
}

TD.title,TD.value,TR.command,TR.log,TD.help {
	border-width: 1px;
	border-style: solid;
	border-color: silver;
}

TD.value,TD.edit {
	border-width: 1px;
	border-style: solid;
	border-color: silver;
}

TD.varList {
	width: 100px;
	border-width: 1px;
	border-style: solid;
	border-color: silver;
}

TD.buttons {
	width: 100px;
	vertical-align: middle;
}

TABLE.buttons {
	
}

TH.grid {
	border-width: 1px;
	border-style: solid;
}

TD.grid {
	border-width: 1px;
	border-style: solid;
	padding: 5px;
	text-align: center;
}

TD.descr {
	border-width: 1px;
	border-style: solid;
}